@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-base text-white font-sans antialiased;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  html {
    scroll-behavior: smooth;
  }
}
